<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center dRed fiFugaz bgWhite">
            <p>Our Menu</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-6 card col-12 bgWhite pt-5 mt-3">
            <img src="assets/menubeef.jpg" class="img-fluid" alt="Sandwhich Menu">
            <div class="card-body bgWhite">
                <h2 class="thirtFugaz">Sandwiches</h2>
                <p class="twenMontauk dRed">All sandwiches come with an side of crispy fries</p>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Sizzling Steak Sandwiach</b></h4>
                        <p class="twenMontauk menu">Open faced steak sandwich with grilled belle peppers and fried
                            onions.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$15.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Tenderloin Sliders</b></h4>
                        <p class="twenMontauk menu">Three beef tenderloin sliders with horseradish cream and blackberry
                            bbq.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$13.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Classic Chicken Panini</b></h4>
                        <p class="twenMontauk menu">Grilled chicken with Monterey jack, romaine lettuce, tomato, and
                            cilantro.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$10.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Smoked Turkey Club</b></h4>
                        <p class="twenMontauk menu">Smoked deli turkey, maple bacon, cranberry aioli, lettuce and
                            tomatoes.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$8.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Tuna Sandwich</b></h4>
                        <p class="twenMontauk menu">Tuna salad with sprouts, sliced tomatoes and cilantro lime mayo on
                            toast.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$6.99</p>
                    </div>
                </div>
                <div class="underline"></div>
            </div>
        </div>


        <div class="col-md-6 card col-12 bWhite pt-5 mt-3">
            <img src="assets/menuseafood.jpg" class="img-fluid" alt="Seafood Menu">
            <div class="card-body bgWhite">
                <h2 class="thirtFugaz">Seafood</h2>
                <p class="twenMontauk dRed">All seafood comes with a side of rice pilaf and grilled vegetables</p>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Honey Shrimp Skewers</b></h4>
                        <p class="twenMontauk menu">Ten honey glazed shrimps grilled with sesame seeds and rosemary.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$15.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Grilled Salmon</b></h4>
                        <p class="twenMontauk menu">Salmon grilled in a lime butter sauce.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$13.99</p>
                    </div>
                </div>
                <br>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Grilled Tilapia</b></h4>
                        <p class="twenMontauk menu pb-2">A whole grilled tilapia cooked with smoked paprika.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$10.99</p>
                    </div>
                </div>
                <br>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Parmesan Fish Sticks</b></h4>
                        <p class="twenMontauk menu">Sliced salmon in parmesan breading served with lemon dill tartar
                            sauce.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$8.99</p>
                    </div>
                </div>
                <div class="underline"></div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-between">
        <div class="col-md-6 card col-12 bWhite pt-3 pr-2  mt-3">
            <img src="assets/menumeat.jpg" class="img-fluid" alt="On the Grill Menu">
            <div class="card-body bgWhite">
                <h2 class="thirtFugaz">On The Grill</h2>
                <p class="twenMontauk dRed">Served with corn, cheddar biscuits, and your choice of coleslaw or potato
                    salad.</p>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Baby Back - Full Rack</b></h4>
                        <p class="twenMontauk menu">A full rack of pork babyback ribs grilled and glazed with blackberry
                            bbq.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$19.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Baby Back - Half Rack</b></h4>
                        <p class="twenMontauk menu">A half rack of pork babyback ribs grilled and glazed with blackberry
                            bbq.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$13.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Boneless Ribeye</b></h4>
                        <p class="twenMontauk menu">A three inch thick boneless ribeye grilled in a rosemary rub and
                            butter</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$25.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Smoked Turkey Club</b></h4>
                        <p class="twenMontauk menu">Smoked deli turkey, maple bacon, cranberry aioli, lettuce and
                            tomatoes.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$8.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Tuna Sandwich</b></h4>
                        <p class="twenMontauk menu">Tuna salad with sprouts, sliced tomatoes and cilantro lime mayo on
                            toast.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$6.99</p>
                    </div>
                </div>
                <div class="underline"></div>
            </div>
        </div>


        <div class="col-md-6 card col-12 bWhite pt-3 mt-3">
            <img src="assets/menudesserts.jpg" class="img-fluid" alt="Desserts Menu">
            <div class="card-body bgWhite">
                <h2 class="thirtFugaz">Desserts</h2>
                <p class="twenMontauk dRed">A shot of esspresso can be added to any dessert for an additional $2.</p>
                <br>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Double Walnut Brownies</b></h4>
                        <p class="twenMontauk menu">Two brownies with a walnut crust, ice cream and chocolate sauce.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$8.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Cheese Cake with Chocolate </b></h4>
                        <p class="twenMontauk menu">Sauce Cheesecake with ice cream, chocolate shavings and chocolate
                            sauce.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$7.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Triple Chocolate Brownie</b></h4>
                        <p class="twenMontauk menu">A tripple chocolate brownie served with vanilla ice cream and
                            walnuts.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$6.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>House Made Shaved Gelato and Cookies</b></h4>
                        <p class="twenMontauk menu">Your choice of shaved gelato with whole cookies. Options change
                            daily.</p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$5.99</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="row">
                    <div class="col-md-10 col-12">
                        <h4 class="mont dRed"><b>Grilled Peaches and Ice Cream </b></h4>
                        <p class="twenMontauk menu">Grilled peaches in cinnamon and brown sugar glaze with ice cream.
                        </p>
                    </div>
                    <div class="col-md-2 col-12 dRed pr-0">
                        <p class="twenMontauk">$4.99</p>
                    </div>
                </div>
                <div class="underline"></div>
            </div>
        </div>
    </div>