<nav class="navbar navbar-expand-lg navbar-light container">

    <a class="navbar-brand" routerLink='/home'><img src="assets/MuzzlesLogo.png" width="100%" height="100%"
        alt="Muzzles Logo"></a>

    <button class="ntoggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- Nav toggle not working for some reason -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end twenFugaz" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link dRed" routerLink='/about'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dRed" routerLink='/menu'>Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dRed" routerLink='/catering'>Catering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dRed" routerLink='/photos'>Photos</a>
        </li>
      </ul>
    </div>
  </nav>