<div class="container">

    <div class="row bgWhite mb-5">
        <div class="col d-flex justify-content-center">
            <h1 class="cateringHead fiFugaz">Catering</h1>
        </div>
    </div>

    <!-- Row 1 -->

    <div class="row">
        <div class="col-12 cateringHero"></div>
    </div>

    <!-- Row 2 -->

    <div class="row cateringRow2">
        <img class="col-md-5 col-12 img-fluid" src="assets/cateringMaine.jpg" alt="Catering Maine">
        <div class="col-md-7 col-12 bgWhite">
            <h2 class="thirtFugaz cateringTextBox">Our Catering Services</h2>
            <p class="twenMontauk cateringText">Morbi tempus iaculis urna id. Aenean pharetra magna ac
                placerat. Mi proin
                sed libero enim sed faucibus turpis in. Et ultrices neque ornare aenean euismod. Quisque sagittis
                purus sit amet.
                Ultricies tristique nulla aliquet enim tortor at auctor urna. Purus faucibus ornare suspendisse sed.
                Tempor nec feugiat nisl pretium fusce id velit ut tortor. Sed cras ornare arcu dui vivamus arcu
                felis. Consectetur lorem donec massa sapien faucibus et molestie ac. Cum sociis natoque penatibus et
                magnis dis parturient. Ut faucibus pulvinar elementum integer enim. Vel risus commodo viverra
                maecenas accumsan. Nec dui nunc mattis enim ut. <br> <br> Posuere lorem ipsum dolor sit amet. Sed
                odio morbi quis commodo odio aenean. Tortor posuere ac ut consequat semper viverra nam libero.
                Tellus elementum
                sagittis vitae et leo duis ut. Egestas quis ipsum suspendisse ultrices gravida. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu non odio. Auctor augue mauris augue neque gravida in
                fermentum et sollicitudin. Augue neque gravida in fermentum et sollicitudin ac orci phasellus.
                Tristique senectus et netus et. Dolor sit amet consectetur adipiscing elit ut aliquam. Erat nam at
                lectus urna duis convallis convallis tellus. Egestas purus viverra accumsan in nisl nisi scelerisque
                eu ultrices.</p>
        </div>
    </div>

    <!-- Row 3 -->

    <div class="row">
        <img class="col-md-4 col-12 img-fluid pt-3" src="assets/catering1.jpg" alt="Cater 1">
        <img class="col-md-4 col-12 img-fluid pt-3" src="assets/catering2.jpg" alt="Cater 2">
        <img class="col-md-4 col-12 img-fluid pt-3" src="assets/catering3.jpg" alt="Cater 3">
    </div>
</div>