.cateringHead{
    font-size: 50px;
    display: flex;
    align-content: center;
}

.cateringRow2{
    margin-bottom: 100px;
}

.cateringText{
    kerning: 2px;
    line-height: 15px;
    margin-bottom: 28px;
}

.cateringRow2{
    margin-bottom: 100px;
}

