<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-12 p-0 d-flex justify-content-center align-items-center">
        <img src="assets/homeHero.jpg" class="img-fluid" alt= "Puppy Restaurant">
      </div>
    </div>
  </div>

  <br>
  <br>


  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <img src="./assets/homeSingle.jpg" class="img-fluid imgSize" alt = "single home">
      </div>
      <div class="col-sm-12 col-md-8 bgWhite">
        <div class="row">
          <div class="col-12">
            <h2 class="thirtFugaz pt-3">Muzzles Sandwiches & Grill</h2>
            <!-- Need Montauk fonts -->
            <p class="twenMontauk dRed">
              Lorem ipsum dolor sit amet, id sit omittantur neglegentur, usu sumo partiendo ex, qui te autem
              adipiscing.
              Mel vidit zril inermis ex, dicit errem honestatis eu pro. Assum veniam duo cu.
              His an porro accusam, an ullum homero eum. In saepe copiosae est, erat dicunt salutatus has eu.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-0">
            <img src="assets/HomeImage.jpg" class="img-fluid" alt="Home Images of Dogs">
          </div>
        </div>
      </div>
    </div>
  </div>