/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: rMontauk;
    src: url(assets/fonts/Montauk-Regular.otf);
}

body{
    background-image: url(assets/bgtexture.jpg);
}

.twenFugaz{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    color:#5F002B;
}

.thirtFugaz{
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: #5F002B;
}

.fiFugaz{
    font-family: 'Fugaz One', cursive;
    font-size: 50px;
    color: #5F002B;
}

.EZFugaz{

    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    color: #5F002B;
}

.EZp{
    font-family: Montauk;
    font-size: 12px;
    color:  #5F002B;
}

.dRed{
    color:#5F002B !important;
}

.bgWhite{
    background-color:white;
}

.card{
    background-color: #ffffff00;
    border: none;
    padding-right: 3px;
    padding-left: 3px;
}

.underline{
    border-bottom: 2px #980051 solid;
}

.cateringHero{
    background-image: url(assets/cateringHero.jpg);
    background-size: cover;
    height: 500px;
    margin-bottom: 90px;
}

.montauk{
    font-family: rMontauk;
    color: #5F002B;
}

.twenMontauk{
    font-family: rMontauk;
    font-size: 20px;
    color:  #5F002B;
}

.EZp{
    font-family: rMontauk;
    font-size: 12px;
    color:  #5F002B;
}