<div class="container">

    <!-- Header -->

    <div class="row photoHead">
        <div class="col d-flex justify-content-center align-items-center bgWhite">
            <h1 class="fiFugaz">Photos</h1>
        </div>
    </div>

    <!-- Picture Grid -->

    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class="img-thumbnail" src="assets/photo01.jpg" alt="Photo 1">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo02.jpg" alt="Photo 2">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo03.jpg" alt="Photo 3">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo04.jpg" alt="Photo 4">
        </div>

    </div>
    <div class="row pt-2">
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class="img-thumbnail" src="assets/photo05.jpg" alt="Photo 5">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo06.jpg" alt="Photo 6">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo07.jpg" alt="Photo 7">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo08.jpg" alt="Photo 8">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class="img-thumbnail" src="assets/photo09.jpg" alt="Photo 9">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo10.jpg" alt="Photo 10">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo11.jpg" alt="Photo 11">
        </div>
        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
            <img class=" img-thumbnail" src="assets/photo12.jpg" alt="Photo 12">
        </div>
    </div>
</div>