<br />
<br />
<div class="container">
  <footer class="pt-5 pb-3">
    <div class="row">
      <div class="col-md-3 col-sm-12 dRed d-flex flex-column justify-content-center">
        <p class="montauk">1357 Mutt Street, Rottweiler CA. 12345</p>
        <p class="montauk">Phone: 123-456-7890</p>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3 col-sm-12 dRed d-flex flex-column align-items-center">
        <img src="assets/CompanyLogo.png" class="img-fluid" alt="Company Logo-Special Company">
        <p class="montauk">Copyright © Muzzles Restaurant</p>
      </div>
    </div>
  </footer>
</div>